/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	background:#EEEEEE;
    overflow: scroll;
    overflow-x: hidden;
}
.wrap{
	width:95%;
	margin:0 auto;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.container {
	width: 100%;
	position: relative;
}

.container > header {
	width:100%;
	margin: 0 auto;
	position: relative;
}
.header{
	background:#db4a39;
	border-bottom: 5px solid #BD3A2B;
}
/** Social Icons **/
.social-icons {
	text-align:center;
}
.social-icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0px;
}
.social-icons li {
	display:inline-block;
	width: 40px;
	height: 40px;
	border-right: 1px solid rgba(190, 190, 190, 0.25);
	background: none;
	padding: 0px;
	margin-left:0px;
}
.social-icons a.facebook:hover {
	background-position: 0px top;
}
.social-icons a.facebook {
	background-position: 0px bottom;
}
.social-icons li a {
	height: 40px;
	width: 40px;
	display: block;
	text-indent: -9999px;
	background: url(../images/social_icons.png);
	background-color:#FFF
}
.social-icons a.twitter {
	background-position: -40px bottom;
}
.social-icons a.twitter:hover {
	background-position: -40px top;
}
.social-icons a.googleplus {
	background-position: -440px bottom;
}
.social-icons a.googleplus:hover {
	background-position: -440px top;
}
.social-icons a.contact {
	background-position: -560px  bottom;
}
.social-icons a.contact:hover {
	background-position: -560px top;
}
 /*-------------
SEARCH
-------------*/
.search_box{
	margin:10px 0;
     position:relative;
	 border:2px ridge #FA4F4F;
     outline:none;
    background:#eee;
}
.text-box{
	width:90%;
	padding:8px 10px;
	font-size:0.9em;
    color: #555;
    background:none;
    border:none;
    outline: none;
}
.search_box input[type="submit"]{
	border:none;
	cursor:pointer;
	background: url(../images/search.png) no-repeat 0px 9px;
	position: absolute;
	width: 25px;
	right:0px;
	height: 30px;
}
/**** End Search Box ****************/
  .logo{
  	text-align:center;
 }
.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.og-grid li {
	display:table;
	margin:5px auto;
}
/**** Details Page *****/
.content h3{
	padding:10px 0;
}	
.content h3 a{
	font-size:1.2em;
    color:#347280;
    padding-bottom:10px;
}
.box1 h3 a:hover{
	text-decoration:underline;
	color:#444;
}
.box1{	
    padding:5px 0;
}
.blog-img img{
	padding:3px;
	background:#FFF;
	border:1px solid #DDD;
	margin:5px 0;	
}
.blog-data{
   	width:100%;
}
.blog-data span a{
	color:#EB7F1A;
	font-size:1em;
}
.blog-data span a:hover{
	text-decoration:underline;	
}
.blog-data p{
    font-size:0.8em;
    line-height:1.8em;
    color:#6D6B6B;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/*----artical-links---*/
.artical-links{
	padding: 10px 0px;
	border: 1px solid rgba(192, 192, 192, 0.22);
	border-left: none;
	margin-top: 5px;
	border-right: none;
}
.artical-links ul li{
	display:block;
	line-height:1.8em;
}
.artical-links ul li img{
	vertical-align:middle;
	padding-right:10px;
}
.artical-links ul li a{
	font: 400 15px/22px Arial;
	color: #ADADAB;
	padding-left:10px;
}
.artical-links ul li a:hover{
	color:#797D7E;
}
/****** Comment Area ******/
.comments-area h3{
	color: rgb(80, 80, 80);
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 0px 0px 7px 0px;
	margin-bottom: 15px;
	border-bottom: 5px solid #D5D5D5;
}
.comments-area{
	margin-top:20px;
	color: #666;
}
.comments-area p{
	position: relative;
	padding: 8px 0;
}
.comments-area label{
	display: block;
	font-size:0.8em;
	padding-bottom: 5px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.comments-area span{
	color: #F05F3D;
	position: absolute;
	left: 4px;
	top: 33px;
	font-size: 1.2em;
}
.comments-area input[type="text"],.comments-area textarea{
	padding:8px 15px;
	width:99%;
	color: #444;
	font-size:1.2em;
	border:1px solid #DDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	background:#FFF;
	outline: none;
	display: block;
	-webkit-appearance:none;
}
.comments-area input[type="submit"]{
	font-size:1.2em;
	text-transform:uppercase;
	padding:7px 25px;
     background-color: #e54028;
    color: white;
	border:none;
	cursor:pointer;
	-webkit-appearance:none;
}
.comments-area [type="submit"]:hover{
	background-color: #e54028;
}
.comments-area [type="submit"]:active{
   color: #952312;
   background: #cd5240;
}
.comments-area textarea{
	width:99%;
	height: 100px;
}
/*---comment box--*/
.comment{
	position:relative;
	margin:15px 0;
}
.comment h2{
	margin:0;
	border:1px solid #DDD;
	padding:10px 15px;
}
.comment h2 a,
.comment h2{
	font-weight:normal;
	font-size:12px;
	color:rgb(155, 155, 155);
	margin:0 0 10px 0;
}
.comment box{
	float:left;
}
.comment box div{
	padding:5px;
	border:none;
}
.comment h2{
	font-size: 1.2em;
	padding: 7px;
}
.comment h2 span{
	color:#F05F3D;
}
.comment ul.list{
	margin:0;
	padding:0;
	list-style:none;
}
.comment .list li{
	display:block;
	padding:10px 0;
	margin:0 0 10px 0;
}
.comment .preview,
.comment .data{
	float:left;
}
.comment .preview{
	width:50px;
	padding:0px;
	margin-right:8px;
}
.comment .preview img{
	background: #fff;
}
.comment .preview img,
.comment .preview a{
	display:block;
	padding: 3px;
}
.comment .data{
	width:72%;
	padding:10px;
	border: 1px solid #DDD;
	background:#FFF;
	position:relative;
}
.data span.comment-arrow{
	background:url(../images/comment-arrow.png) no-repeat;
	height:32px;
	width:20px;
	position:absolute;
	top:10px;
	left:-12px;
}
.comment .data .title{
	color:#666;
	font-size:16px;
	margin:0 0 5px 0;
}
.comment .data a{
	color:#F05F3D;
}
.comment .data .title a{
	font-size:0.8em;
}
.comment .data p{
	margin:0;
	padding:0;
	font-size:0.8em;
    line-height:1.6em;
    color:#6D6B6B;
    font-family:Arial, Helvetica, sans-serif;
}
.leave-reply{
	margin: 10px 0;
}
.leave-comment a{
	font-size: 1.1em;
}
.leave-reply{
	color: #F05F3D;
	margin: 10px 0;
	font-size: 1em;
	padding: 7px;
	background: #ddd;
}
/*--respond---*/
#respond{
	color: #666;
	position: relative;
}
#reply-title{
	color: #777;
	font-size: 1em;
}
a#cancel-comment-reply-link{
	color:#F05F3D;
	padding-left:5px;
}
.comment-notes{
	color:rgb(155, 155, 155);
}
#commentform p{
	position: relative;
	padding: 8px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
}
#commentform label{
	display: block;
	padding-bottom: 5px;
	font-size:1.1em;
}
#commentform span{
	color:#F05F3D;
	position: absolute;
	font-size:1.2em;
}
#commentform input[type="text"]{
	padding:8px 15px;
	width:99%;
	color: #333;
	border:1px solid #DDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	outline: none;
	display: block;
	-webkit-appearance:none;
}
#commentform input[type="submit"]{	
	background:#dcdcdc;
	padding:8px 12px;
   color: #666666;
  border: 1px solid #C9C7C7;
  cursor:pointer;
  font-size:1.5em;
 -webkit-appearance:none;
}
#commentform [type="submit"]:hover{
	  background-color: #eeeeee;
}
#commentform [type="submit"]:active{
	background:#eee;
	color: #bbbbbb;
}
#commentform textarea{
	padding: 10px 15px;
	width:99%;
	color: #555;
	font-size: 16px;
	outline: none;
	height: 100px;
	display: block;
	border:1px solid #DDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	-webkit-appearance:none;
}
/**** End Comment Area ****/
/**** Contact Form ***/
.span_2_of_3  h2,.span_1_of_3 h2{
	color: rgb(80, 80, 80);
	font-size: 1.2em;
	text-transform: uppercase;
	margin:0 0 10px 0;
}
.span_2_of_3 {
	margin-top:15px;
}
.span_1_of_3 {
	padding:4% 0; 
}
.contact-form{
	position:relative;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:95%;
			background:#fcfcfc;
			border:1px solid #ECECEC;
			outline:none;
			color:#464646;
			font-size:1em;
			border:1px solid #CCC;
			font-family:Arial, Helvetica, sans-serif;
}
.contact-form textarea{
		resize:none;
		height:100px;		
}
.contact-form input[type="submit"]{
	font-size:1em;
	padding:8px 20px;
	color:#FFF;
	border:none;
	cursor:pointer;
	 background: #cd5240;
    color: white;
	-webkit-appearance:none;
	text-transform:uppercase;
	outline: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.contact-form input[type="submit"]:hover{
    background:#292929;  
}
.company_address p{
	font-size:0.8em;
	color:#333;
	padding:3px 0;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.map{
	border:1px solid #C7C7C7;
	margin:10px 0;
}
.copy_right{                    
   padding:10px 0;              
   text-align:center;           
   margin-top:25px;             
   border-top:2px ridge #FFF;   
 }                              
  .copy_right p{                
	font-size:0.8123em;          
	color: #6D6B6B;              
	line-height:1.6em;           
 }                              
  .copy_right p a{              
	color: #6D6B6B;              
	font-size:1em;               
	text-decoration:underline;   
 }                              
  .copy_right p a:hover{        
	color:#F05F3D;               
	text-decoration:none;        
 }                              
