/*A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
body{
	font-family: Arial, Helvetica, sans-serif;
	background:#FFF;
}
/*----header---*/
.header{
	background:#000;
}
.logo{
	float: left;
}
.menu{
	 float:right;
	 margin-top:10px;
}
/*------ banner ----*/
.banner{
	background:url(../images/banner.jpg)  no-repeat 0px 0px;
	background-size:cover;
	padding:1.5em 0;
	text-align:center;
}
.banner h1{
	color:#FFF;
	font-size:0.9em;
	padding:0;
	margin:0;
}
.banner p{
	font-size:0.875em;
	color:#FFF;
}
.banner ul{
	margin:0;
	padding:0.8em 0 0 0;
}
.banner ul li{
	display:inline-block;
}
.banner ul li a{
	padding:0.4em 0.8em;
	display:block;
	color:#FFF;
	text-transform:uppercase;
	font-size:0.875em;
}
.banner ul li a.more-btn{
	background:#23B7A4;
	border: 1px solid #fff;
}
.banner ul li a.tour-btn{
	background:none;
	border: 1px solid #fff;
}
/*------ banner ----*/
/*----content----*/
.content-we {
	padding: 0.8em 0em 0.5em 0em;
}
.content-we  h2 span{
	background: #E1E6EA;
	padding: 0px 2px;
	margin-right: 0.5em;
}
.content-we h2{
	font-size: 1.2em;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0.2em 0;
}
.content-we h2 a{
	text-decoration:none;
}
.para-matter p{
	font-size: 0.875em;
	color: #ABADAF;
	line-height: 1.5em;
}
.para-matter p.sit{
}
.face  ul{
	padding:0;
	margin:0;
}
.face li{
	float:left;
	display:inline-block;
	margin-right:0.2em;
}
.face li a span{
	background: url(../images/sprite-1.png)no-repeat 0px 0px;
	width: 38px;
	height: 42px;
	display: inline-block;
}
.face li a.twitter span{
	background-position: -40px 0px;
}
.face li a.gmail span{
	background-position: -79px 0px;
}
.face li a.dribble span{
	background-position: -117px 0px;
}
.face li a.been span{
	background-position: -157px 0px;
}

.face {
	padding: 0.5em 0em 1.5em 0em;
}
.top-list-left{
	float: left;
	margin-top: 0.8em;
	width: 18%;
}
.top-list-right a{
	text-decoration:none;
}
.text-matter {
	padding: 0.3em 0 1.5em;
}
img.img-responsive{
	width:100%;
}
.top-list-right{
	float: right;
	width: 76%;
	padding: 0;
	margin: 0;
}
 .top-list-left label{
	background: #23B7A4;
	padding: 11px 12px;
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	margin-top: 5px;
}
.top-list-right h4{	
	text-transform:uppercase;	
	font-size: 0.9em;
}
.top-list-right p{
	color: #ABADAF;
	font-size: 0.875em;
	line-height: 1.5em;
}
.top-list-middle{
	padding:1em 0px;
}
.content-top{
	border-bottom:1px solid #ABADAF;
}
/*-----top-menu-links -----*/
.top-menu-links ul{
	margin:0;
	padding:0;
}
.top-menu-links ul li a{
	background:#2d2d2d;
	color:#FFF;
	font-size:1em;
	display:block;
	padding:0.3em;
	border-bottom:1px solid #444;
}
/*---content-we-are---*/
.content-we-are {
	margin: 0em 0em 2.5em;
}
.image-matter{
	background: #E1E6EA;
	padding: 0em 0 0.2em;
	margin: 15px 0px;
}
.image-bro h4{	
	text-transform: uppercase;
	font-size: 0.9em;
}
.image-bro {
	margin: 14px;
}
.image-bro p{
	color:#A3A6A9;
}
/*----- img-social-stags -----*/
ul.img-social-stags{
	margin:0;
	padding:0;
	display:none;
	position:absolute;
	top:50%;
	left:23%;
}
ul.img-social-stags li{
	display:inline-block;
}
ul.img-social-stags li a span{
	width:52px;
	height:52px;
	display:inline-block;
	background:url(../images/ic.png) no-repeat 0px 0px;
}
ul.img-social-stags li a.twitter span{
	background-position:0px 0px;
}
ul.img-social-stags li a.facebook span{
	background-position: -53px 0px;
}
ul.img-social-stags li a.linkedin span{
	background-position: -106px 0px;
}
/*---work----*/
.content-part-work{
	background:#3A454D;
}
.content-work {
	padding: 1em 0;
}
.content-work  h2 span{
	background:#4E5A62;
	padding: 0px 8px;
	margin-right: 0.5em;
}
.content-work h2 a{
color:#fff;
	text-decoration:none;
}
.content-work h2{
	color: #fff;
	font-size: 1.3em;
	font-weight: 400;
	text-transform: uppercase;
}
.partnership{
	margin:0.5em 0;
}
/*---show--*/
.show-me{
	text-align: center;
	padding: 0.8em 0 2em;
}
.show-me a{
	color: #fff;
	padding: 8px 10px;
	text-decoration: none;
	transition: 0.5s all;
	font-size: 0.875em;
}
.show-me a.show-more{
	border:2px solid #fff;
}
/*---what---*/
.easy-them{
	text-align:center;
	padding:0.8em 0px;
}
.easy-them img{
}
.easy-them h4{
	text-transform:uppercase;
}
.easy-them  a{
	text-decoration: none;
	display: block;
}
.easy-them p{
	line-height:1.5;
	font-size:0.875em;
	color:#777;
}
.content-what {
	margin: 0px 0px 3em;
}
/*---features----*/
.content-features{
	background: #3A454D;
	padding: 0em 0px 0.5em;
}
.features-grass{
	color:#fff;
}
.features-grass h4{
	text-transform: uppercase;
	padding: 0.5em 0;
}
.features-grass {
	padding: 0.8em 0;
}
.features-grass  a{
	color:#fff;
	text-decoration:none;
}
.features-grass p{
	line-height:1.5em;
	font-size: 0.875em;
}
/*--touch--*/
.content-we-touch{
	padding: 0.8em 0;
}
.content-we-touch  h2 span{
	background:#E1E6EA;
	padding: 0px 8px;
	margin-right: 0.5em;
}
.content-we-touch h2 a{
	text-decoration:none;
}
.content-we-touch h2{
	font-size: 1.2em;
	font-weight: 400;
	text-transform: uppercase;
}
.contact-info{
	margin: 1em 0px 0.3em;
}
.content-stay {
	margin: 0px 0px 1.5em;
}
.contact-info h3{
	text-transform:uppercase;
}
.contact-info  a {
	text-decoration:none;
}
.contact-info p.info{
	padding: 8px 0px;
	font-size: 0.875em;
	color: #ABADAF;
	line-height: 1.5em;
}
.contact-form{
	background: #fff;
	padding: 0em;
}
.your-name{
	color:#ABADAF;
	font-size:1.2em;
}
.your-name span,.your-msg span{
	font-size:0.8em;
}
.your-name input[type="text"] {
	width: 97%;
	outline: none;
	margin: 0.4px 0px;
	padding:8px 5px;
	background: #E6E9EC;
	border: none;
}
.your-msg  textarea {
	width: 97%;
	outline: none;
	margin: 0.4px 0px;
	padding:8px 5px;
	background: #E6E9EC;
	border: none;
	resize: none;
}
.your-submit  input[type="submit"] {
	background: #23B7A4;
	outline: none;
	font-size:1em;
	margin:10px 0px;
	border: none;
	padding: 10px 18px;
	color: #fff;
	cursor:pointer;
}
.your-msg{
	color:#ABADAF;
	font-size:1.2em;
}
.contact-box {
}
.contact-form{
}
/*---footer--*/
.footer{
	background:#3A454D;
	text-align:center;
}
.footer-class{
	color:#fff;
	font-size:0.875em;
}
.footer-class p a{ 
	color:#fff;
	text-decoration:none;
}
.footer-class-right{
	margin-top:0.5em;
}
.footer-class-right ul li{
	display:inline-block;
}
.footer-class-right ul{
	padding:0;
	margin:0;
}
.footer-class-right  ul li a span{
	width:32px;
	height:36px;
	display:inline-block;
	background:url(../images/2.png) no-repeat 0px 0px;
}
.footer-class-right  ul li a.facebook  span{
	background-position:-32px 0px;	
}
.footer-class-right  ul li a.skype span{
	background-position:-64px 0px;	
}
.footer-class-right  ul li a.been span{
	background-position:-102px 0px;	
}
.footer-class-right  ul li a.linkedin span{
	background-position:-135px 0px;	
}
.footer-top {
	padding: 0.8em 0 0.3em;
}
/*-----grid-system---*/
.container{
	width:90%;
	margin:0 auto;
}
.text-center{
	text-align:center;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8  {
	width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	min-height: 1px;
	padding-left:0px;
	padding-right:0px;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}