/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
   font-family:Arial, Helvetica, sans-serif;
   font-size: 100%;
   background: url(../images/bg.jpg);
}
.header_top {
	padding:10px 10px 5px;
	background:#291f19;
}
.logo{
	float:left;
}
.navicon {
	display: block;
	width: 25px;
	height: 25px;
	float: right;
	background: url('../images/nav_icon.png') no-repeat;
	margin-top:2px;
}
.navgation-links ul li a {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #746E6E;
	display: block;
	padding: 10px 0px;
	border-bottom: 1px ridge #DBDADA;
	text-indent: 12px;
	text-align: left;
	text-transform: uppercase;
}
/**** Slider *****/
.example1{
	background: url(../images/banner.jpg)repeat;
	background-size:100% 100%;
	padding:20px 0;
}
.banner-wrap{
	width:70%;
	margin: 0 auto;
	border:1px solid #fff;
	text-align:center;
	padding:10px;
}
.banner-wrap h1{
	text-transform:uppercase;
	color:#fff;
	font-size:0.85em;
}
.banner-wrap h2{
	text-transform:uppercase;
	color:#fff;
	font-size:0.85em;
}
/*--about--*/
.about{
	padding:20px 10px 0;
}
.about_left h3{
	color:#372f2d;
	font-size:1em;
	text-transform:uppercase;
	margin-bottom: 0.2em;
}
p.m_1, p.m_2{
	color:#372f2d;
	font-size:0.8125em;
	line-height:1.5em;
}
p.m_2{
	margin:1em 0;
}
.about_right {
	text-align: center;
	margin-top: 20px;
}
.btn1 {
	border:3px double #fff;
	color: #fff;
	background:#372f2d;
	cursor: pointer;
	padding: 6px 10px;
	display: inline-block;
	text-transform: uppercase;
	outline: none;
	position: relative;
	font-size: 0.8125em;
	-webkit-appearance: none;
}
ul.portfolio_grids {
	padding:0 10px;
	list-style: none;
}
ul.portfolio_grids li {
	width:50%;
	float: left;
}
.video {
	padding:20px 10px;
	text-align: center;
}
h4.m_3{
	font-size:0.85em;
	text-transform:uppercase;
	color:#000;
}
.video_frame {
	margin-bottom: 20px;
}
h5.m_4{
	font-size:1.5em;
	text-transform: uppercase;
	color: #000;
	line-height: 1em;
}
.video_btn{
	text-align:center;
	margin-top:1em;
}
.contact{
	background:#372f2d;
	padding:20px 10px;
}
ul.list{
	padding:0;
	list-style:none;
}
ul.list li.list1{
	border-bottom: 1px dashed #555;
	margin-bottom:0.5em;
	padding-bottom:0.5em;
}
ul.list li.last{
	border-bottom:0;
	margin-bottom:0;
	padding-bottom:0;
}
i.icon1{
	float: left;
	margin-right: 0.5em;
}
p.address{
	float: left;
	color: #ccc;
	font-size: 0.8125em;
	margin-top: 2px;
}
span.phone{
	color:#fff;
}
span.email a{
	color:#ccc;
	font-style: italic;
}
span.email a:hover{
	text-decoration:underline;
}
.contact-form input[type="text"] {
	display: block;
	width: 89%;
	padding: 8px;
	border: 1px solid #ddd;
	outline: none;
	margin: 1.5em 0;
	font-size: 0.8125em;
	color: #999;
}
.contact-form textarea {
	display: block;
	width:89%;
	padding:8px;
	border: 1px solid #ddd;
	outline: none;
	margin: 1.5em 0;
	font-size: 0.8125em;
	color: #999;
	height:70px;
	resize: none;
	 font-family:Arial, Helvetica, sans-serif;
}
.contact-form input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border: 4px double #000;
	color: #000;
	background: #c6b297;
	font-size: 0.8125em;
	padding: 5px 10px;
}
.contact-form input[type="submit"]:hover{
	color:#fff;
}
h3.head{
	color:#c6b297;
	text-transform:uppercase;
	font-size:1em;
	text-align:center;
	margin-bottom:10px;
}
.footer_bottom{
	padding:20px 10px;
	text-align:center;
}
p.copy {
	font-size: 0.85em;
	color: #949494;
	margin-bottom:10px;
}
p.copy a{
	color:#c6b297;
}
p.copy a:hover{
	text-decoration:underline;
}
ul.social {
	padding: 0;
	list-style: none;
}
ul.social li:first-child {
	margin-left: 0;
}
ul.social li{
	display: inline-block;
}

